{% for composer in composers %}

<div class="row composer-note">

    <div class="col-md-6 composer-data">

        <p style="font-size: 12px"><b>{{ composer.maker }}</b></p>

        <p>Note #(<b>{{ composer.id }}</b>)</p>

        <p>Donation <b>{{ composer.donation }} Ether</b></p>

        <a href="https://{{ network }}etherscan.io/address/{{ composer.maker }}" target="_blank">View on EtherScan</a>

    </div>

    <div class="col-md-2">
        <p>{{ composer.midiData.midi }} #({{ composer.midi }})</p>
    </div>

    <div class="col-md-2">
        <p>{{ composer.lengthName }}</p>
    </div>

    <div class="col-md-1">
        <div class="abc-composer-note"
             data-note="L: 1/32
:{{ composer.abc.note | safe }}
"
            >
        </div>
    </div>

</div>

{% endfor %}
