<table class="table table-bordered">

    <tr>
        <td>Donation Goal</td>
        <td>{{ stats.goal }} ETH</td>
    </tr>

    <tr>
        <td>Minimum</td>
        <td>{{ stats.min }} ETH</td>
    </tr>

    <tr>
        <td>Total Raised</td>
        <td>{{ stats.current }} ETH</td>
    </tr>

    <tr>
        <td>Milestone Goal</td>
        <td>{{ stats.milestone }} ETH</td>
    </tr>

    <tr>
        <td>Donatee</td>
        <td><a href="https://{{ network }}etherscan.io/address/{{ stats.donatee }}" target="_blank">{{ stats.donatee }}</a></td>
    </tr>

</table>
