body {
    padding-bottom: 20px;
    overflow-x: hidden;
}

/**
 * Donation top
 */

#donation-top {
    float: right;
}

#donation-top p {
    margin: 0;
}

#donation-bar {
    border: 1px solid #AAA;
    height: 25px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

#donation-bar-fill {
    background: #28a745;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#donation-top-raised {
    position: absolute;
    left: 2px;
    z-index: 10;
}


/**
 * Nav
 */

.nav-item {
    border-radius: 2px 2px 0 0;
    border: 1px solid #000;
    margin-right: 2px;
    position: relative;
}

.nav-item::after {
    width: 20px;
    height: 50px;
    display: block;
    background: #000;
    content: "";
    position: absolute;
    z-index: 5;
    right: -10px;
    top: 23px;
    border-radius: 2px 2px 0 0;
}

.nav-item > a {
    padding-top: 38px;
}


/**
 * UI
 */

#message-area {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 400px;
    max-width: 90%;
    display: none; /** Start Hidden **/
}

.loader-img {
    display: block;
    margin: 0 auto;
}

.tab-content {
    padding-top: 10px;
}

/**
 * Create note tab
 */

#create-note-form > .row {
    margin-bottom: 10px;
}

#music-changed-alert {
    display: none;
}


/**
 * Composer note / stats
 */

.composer-note {
    border: 1px solid #AAA;
    padding-top: 10px;
    margin-bottom: 10px;
}

.composer-data p {
    margin: 0;
}
