body {
    padding-top: 5px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.top-logo {
    width: 60px;
}

i, button {
    cursor: pointer;
}

.rainbow-gradient {
    height: 200px;
    background: red;
    background: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
}


/**
 * Donation top
 */

#donation-top {
    float: right;
}

#donation-top p {
    margin: 0;
}

#donation-bar {
    border: 1px solid #AAA;
    height: 25px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

#donation-bar-fill {
    background: #28a745;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#donation-top-raised {
    position: absolute;
    left: 2px;
    z-index: 10;
}


/**
 * Nav
 */

#main-nav .nav-item {
    border-radius: 2px 2px 0 0;
    border: 1px solid #000;
    margin-right: 2px;
    position: relative;
}

#main-nav .nav-item::after {
    width: 20px;
    height: 50px;
    display: block;
    background: #000;
    content: "";
    position: absolute;
    z-index: 5;
    right: -12px;
    top: 1.45em;
    border-radius: 2px 2px 0 0;
}

#main-nav .nav-item > a {
    padding-top: 38px;
}

#main-nav .nav-bottom {
    height: 10px;
    width: 100%;
    border-radius: 0 5px 5px 5px;
}


/**
 * UI
 */

#message-area {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 400px;
    max-width: 90%;
    display: none; /** Start Hidden **/
}

.loader-img {
    display: block;
    margin: 0 auto;
}

.tab-content {
    padding-top: 10px;
}


/**
 * Create note tab
 */

#create-note-form {
    position: relative;
}

#create-form-disabled {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 0;
}

#create-form-disabled > p {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

#note-picker-area {
    margin-bottom: 10px;
}

.note-picker-beat {
    padding: 10px;
    border: 1px solid #999;
    margin-bottom: 10px;
}

.note-picker-note {
    border-left: 5px solid #4444FF;
    padding: 10px;
    background: #EEE;
    margin-bottom: 10px;
}

#create-note-form .row {
    margin-bottom: 10px;
}

#music-changed-alert, #music-note-created {
    display: none;
}


/**
 * Sequencer UI
 */

#sequencer-area {
    padding: 10px 0;
}

.sequencer-beat {
    width: 10em;
    float: left;
    margin-right: 10px;
}

.sequencer-notes {
    overflow-y: scroll;
    height: 18em;
}

.sequencer-note, .sequencer-note-active {
    padding: 10px;
    width: 120px;
    cursor: pointer;
}

.sequencer-note-active {
    background: #000 !important;
    color: #FFF !important;
}

.sequencer-note:hover, .sequencer-note-active:hover {
    background: #AAA !important;
}


/**
 * Composer note / stats
 */

.composer-note {
    border: 1px solid #AAA;
    padding-top: 10px;
    margin-bottom: 10px;
}

.composer-data p {
    margin: 0;
}

.composer-midi-data {
    width: 100%;
    overflow-x: auto;
}


/**
 * Media queries
 */

@media (max-width: 500px) {
    h1 {
        font-size: 1.5em;
    }

    .nav-item {
        font-size: .7em;
    }

    .nav-item::after {
        top: 1.4em;
    }
}
