body {
    padding-bottom: 20px;
    overflow-x: hidden;
}


/**
 * UI
 */

#message-area {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 400px;
    max-width: 90%;
    display: none; /** Start Hidden **/
}

.loader-img {
    display: block;
    margin: 0 auto;
}

.tab-content {
    padding-top: 10px;
}

/**
 * Create note tab
 */

#create-note-form > .row {
    margin-bottom: 10px;
}


/**
 * Composer note / stats
 */

.composer-note {
    border: 1px solid #AAA;
    padding-top: 10px;
    margin-bottom: 10px;
}


/**
 * VexTab
 */
.editor {
    color: #000;
}
