<h2>About</h2>

<a href="http://github.com/chuckfairy/ether-sheet-music" target="_blank">http://github.com/chuckfairy/ether-sheet-music</a>

<p>If you have issues, please leave a report on the github page. Or contact us at ethermusicio(AT)protonmail.com. Enjoy</p>


<h2>FAQ</h2>

<p><b>What is the range of the piece?</b></p>
<p>The range of notes is for a full sized piano. A0 - C8 <a href="http://newt.phys.unsw.edu.au/jw/notes.html" target="_blank">http://newt.phys.unsw.edu.au/jw/notes.html</a>.</p>


<p><b>What if my part is impossible to play?</b></p>
<p>Nothing is impossible</p>


<p><b>What key are we in?</b></p>
<p>The key of love baby</p>


<h2>Special Thanks</h2>

<ul>
    <li><a href="https://github.com/paulrosen/abcjs" target="_blank">ABC.js</a></li>
    <li>The Ethereum Team</li>
</ul>


<h2>Donate to the Devs</h2>

<ul>
    <li>ETH: 0x102f96e5c6805924e8b21a60b4fa6834bdbb8975</li>
    <li>BTC: 1Gkr7MvdB1KWf4texNrAjhPfuxXnuyEt4u</li>
    <li>BCH: 1G1SudtcQhvMBpxLnZypmoKnmHDGp1wMA8</li>
    <li>LTC: Le3x2Hg1eXayEM5aMojn9XuRNLJbVkXEZh</li>
    <li>NANO: xrb_33s9y4cjhdyysjksu47rncqx44o6skndks558ftrgq5prp6mr4518z363ow1</li>
    <li>NEO: ALMtNrHFPjaMmNFtJV5bSyFAYj3JWwvKAM</li>
</ul>
