<h2>Create A Note</h2>

<form id="create-note-form">

    <div class="row">

        <div class="col-md-3">
            <p>Donation (ether MIN <b id="donation-min-form"></b>)</p>
        </div>

        <div class="col-md-9">
            <input type="number" step="0.000001" id="donation" placeholder="Donation (in ether)" class="form-control" required>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <p>Note</p>
        </div>

        <div class="col-md-9">

            <select name="note" class="form-control" id="note-midi" required>

                <option value="">Pick a Note!</option>

                {% for note, data in Midi.NoteNumber %}

                <option value="{{ note }}">Midi {{ data.midi }} (#{{ note }})</option>

                {% endfor %}

            </select>

        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <p>Note Length</p>
        </div>

        <div class="col-md-9">

            <select name="note-length" class="form-control" id="note-length" required>

                <option value="">Pick a Length!</option>

                {% for length, name in Midi.NoteLength %}

                <option value="{{ length }}">{{ name }}</option>

                {% endfor %}

            </select>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div id="note-creator-view"></div>

            <div id="music-changed-alert" class="alert alert-danger">The piece has changed since you have entered. Make sure to check the music tab if this matters.</div>

            <button type="submit" class="btn btn-success btn-block">Create Note</button>
        </div>

    </div>

</form>
