<h2>Create A Note</h2>

<p>Write what your heart desires</p>

<form id="create-note-form">

    <div id="create-form-disabled" class="alert alert-danger">
        <p>Please install MetaMask or use a Web3 enabled browser to contribute to the piece</p>
    </div>

    <div class="row">

        <div class="col-md-3">
            <p>Donation (ether MIN <b id="donation-min-form"></b>) <i class="fa fa-info-circle" data-trigger="hover" data-toggle="tooltip" title="* Donation minimum is per beat not per note"></i></p>
        </div>

        <div class="col-md-9">
            <input type="number" step="0.000001" id="donation" placeholder="Donation (in ether)" class="form-control" required>
        </div>

    </div>

    {% include "note-picker.html" %}

    <div class="row">

        <div class="col-md-12">

            <div id="note-creator-listen"></div>

            <div id="note-creator-view"></div>

            <div id="music-changed-alert" class="alert alert-danger">The piece has changed since you have entered. Make sure to check the music tab if this matters.</div>

            <div id="music-note-created" class="alert alert-success"></div>

            <button type="submit" class="btn btn-success btn-block">Create Your Donation</button>
        </div>

    </div>

</form>
